/* 
    Created on : 17/05/2018, 15:53:59
    Author     : JONATHAN
*/
html{    
    background: #7FB3D5; 
    background: linear-gradient(to bottom right, #7FB3D5, #1A5276); 
}

H2 { 
    text-align: center;
    font-weight: bold;
    font-color:black;
}
label { 
    align: center;    
    font-weight: bold;
    color: black;
    padding: 20px;
    font-size: 18px;
}
textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 50px;
    margin-bottom: 20px;
    height:100px;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
}
input{
    margin-bottom: 20px;
    width: 50%;    
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #ccc;
}
input:focus, textarea:focus{
    border:2px solid #1668C4;
}
input[type="submit"]{
    margin-bottom: 0;
    background: #1668C4;
    color: #fff;    
    border-radius: 5px;
    border:none;
}
input[type="submit"]:hover{
    background: #4A88F4;
    cursor: pointer;    
    border-radius: 5px;
}
table{
    width:50%;
    margin:auto;
    border:solid 2px #1A5276;
    padding:5px;	
    border-radius: 5px;
}  
td{
    padding:5px 0;
}
aside{
	width: 30%;
	float: right;
	padding: 20px;
	box-sizing: border-box;	
}
